<div class='wym_box field item_group'>
  <ul id='page_images' class='clearfix'>
    <%= render :partial => 'image', 
                  :collection => f.object.items.order('position').collect(&:image),
                  :locals => { :f => f } %>
  </ul>
  
  <%= render :partial => 'empty_image', :locals => {:f => f } %> 

</div>
