<div class='wym_skin_refinery' id='images_picker'>
  <span class='clearfix label_inline_with_link'>
    <%= link_to t('.add_new_image'), refinery.insert_admin_images_url({
                  :dialog => true,
                  :width => 950,
                  :height => 510,
                  :callback => "portfolio.append_image",
                  :multiple => true
        }),
        :class => 'add_icon' %>
  </span>

  <%= render :partial => "images", :locals => {:f => f} %>
</div>
