<div class='wym_box field item_group'>
  <ul id='page_images' class='clearfix'>
    <% f.object.items.order("position").each_with_index do |item, i| %>
      <%= render :partial => 'image', :locals => {:f => f, :image => item.image} %>
    <% end %>
  
  </ul>
  
  <%= render :partial => 'image', :locals => {:f => f, :image => ::Refinery::Image.new } %> 

</div>
