.portfolio #body_content #body_content_left {
	width: 621px;
	margin-right: 39px;
}
.portfolio #body_content h1#body_content_page_title {
	margin-bottom: 24px;
	width: 621px;
}
.portfolio #body_content h1#body_content_page_title span {
	float: left;
}
.portfolio #body_content h1#body_content_page_title select {
	margin-left: 12px;
	float: right;
	margin-top: 3px;
	display: block;
}
.portfolio #body_content #body_content_right {
	width: 280px;
	text-align: left;
}
.portfolio #body_content #body_content_right h2, .portfolio #body_content #body_content_right {
	font-size: 15px;
	margin-top: 0px;
	font-weight: normal;
}
#portfolio_main_image_container {
  border: 3px solid #d4cabc;
  width: 100%;
  text-align: center;
}