<% content_for :title, "#{@master_entry.title} - " %>
<% content_for :head, stylesheet_link_tag('portfolio') %>

<% content_for :body_content_title, @master_entry.title %>
<% content_for :body_content_left do %>
  <p>
    <em><%= t(:portfolio_no_entries, :default => "We haven't entered anything in for this project yet.") %></em>
  </p>
<% end %>

<%= render :partial => "/shared/content_page" %>
