<% content_for :title, "#{@master_entry.title} - " %>
<% content_for :head, stylesheet_link_tag('portfolio') %>
<div id='body_content' class='clearfix'>
  <div id='body_content_left' class='clearfix'>
    <h1><%= @master_entry.title %></h1>
    <p>
      <em><%= t(:portfolio_no_entries, :default => "We haven't entered anything in for this project yet.") %></em>
    </p>
  </div>
</div>
