<% content_for :body_content_title do -%>
  Portfolios
<% end -%>

<% content_for :body_content_left do -%>
  <% @portfolio_entries.each do | portfolio | -%>
    <span>
      <%= link_to raw("#{image_fu portfolio.title_image, '200x200' unless portfolio.title_image.nil?} #{portfolio.title}"),
                  portfolio_path(portfolio) %>
    </span>
  <% end -%>
<% end -%>

<%= render :partial => '/shared/content_page' -%>
