<section id='records'>
  <%= render 'records' %>
</section>

<section id='actions'>
  <%= render :partial => 'actions' %>
</section>

<%= render '/refinery/admin/make_sortable', :tree => false if @items.many? %>
